u {
  color: #CFDBD5;
  font-style: italic;
  font-weight: bold;

}

h1 { 
  color: #E8EDDF; 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left;
  border-bottom: 7px solid #F5CB5C;
  padding-bottom: 15px
}

h3 {
  border-bottom: 1px solid #E8EDDF;
  font-size: 25px;
  padding-bottom: 5px;
  padding-top: 20px;
}


h5 {
  font-weight: bold;
  margin-top: -10px;
  font-size: 18px
}


h6 {
  color: #F5CB5C;
  font-style: italic;
  margin-top: -16px
}

body {
  background-color: #242423;
    color: #E8EDDF;
      font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

p {
  font-style: italic;
  font-size: 15px;
  margin-top: -16px;
  margin-bottom: -25px
}


.exp-header {
  color: #242423;
  text-align: center;
  text-transform: uppercase; 
  border-top: 3px solid #242423;
  border-bottom: 3px solid #242423;
  border-right: 3px solid #242423;
  border-left: 3px solid #242423;
  background-color: rgba(207, 219, 213.1);
  margin-top: 50px;
}

li {
  padding-bottom: 10px;
  font-size: 15.5px;
}










